<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>e4e4e4</string>
	<string>1b1b1b</string>
	<string>ff0000</string>
	<string>ff000c</string>
	<string>ff0015</string>
	<string>ff001d</string>
	<string>ff0023</string>
	<string>ff002a</string>
	<string>ff002f</string>
	<string>ff0035</string>
	<string>ff003b</string>
	<string>ff0040</string>
	<string>ff0046</string>
	<string>ff004c</string>
	<string>ff0052</string>
	<string>ff0058</string>
	<string>ff005e</string>
	<string>ff0064</string>
	<string>ff006a</string>
	<string>ff0070</string>
	<string>ff0077</string>
	<string>fc007d</string>
	<string>f90084</string>
	<string>f5008a</string>
	<string>f10091</string>
	<string>ed0098</string>
	<string>e8009f</string>
	<string>e200a6</string>
	<string>dc00ac</string>
	<string>d600b3</string>
	<string>cf00ba</string>
	<string>c700c1</string>
	<string>bf00c8</string>
	<string>b500ce</string>
	<string>ab00d5</string>
	<string>a000dc</string>
	<string>9300e2</string>
	<string>8500e8</string>
	<string>7400ee</string>
	<string>6000f4</string>
	<string>4400fa</string>
	<string>0000ff</string>
	<string>0029ff</string>
	<string>003cff</string>
	<string>004aff</string>
	<string>0056ff</string>
	<string>0061ff</string>
	<string>006aff</string>
	<string>0073ff</string>
	<string>007bff</string>
	<string>0082ff</string>
	<string>0089ff</string>
	<string>008fff</string>
	<string>0095ff</string>
	<string>009bff</string>
	<string>00a0ff</string>
	<string>00a5ff</string>
	<string>00aaff</string>
	<string>00afff</string>
	<string>00b3ff</string>
	<string>00b8ff</string>
	<string>00bcff</string>
	<string>00c1ff</string>
	<string>00c5ff</string>
	<string>00c9fe</string>
	<string>00cdf2</string>
	<string>00d1e5</string>
	<string>00d5d8</string>
	<string>00d9cb</string>
	<string>00ddbe</string>
	<string>00e1b0</string>
	<string>00e4a3</string>
	<string>00e895</string>
	<string>00eb87</string>
	<string>00ef79</string>
	<string>00f26b</string>
	<string>00f55d</string>
	<string>00f84d</string>
	<string>00fa3c</string>
	<string>00fd28</string>
	<string>00ff00</string>
	<string>37fb00</string>
	<string>4df700</string>
	<string>5ef300</string>
	<string>6bef00</string>
	<string>77eb00</string>
	<string>81e600</string>
	<string>8ae200</string>
	<string>93de00</string>
	<string>9bd900</string>
	<string>a2d500</string>
	<string>a9d000</string>
	<string>b0cc00</string>
	<string>b6c700</string>
	<string>bbc200</string>
	<string>c1bd00</string>
	<string>c6b800</string>
	<string>cbb300</string>
	<string>d0ae00</string>
	<string>d4a900</string>
	<string>d9a400</string>
	<string>dd9e00</string>
	<string>e19900</string>
	<string>e49300</string>
	<string>e78e00</string>
	<string>eb8800</string>
	<string>ee8200</string>
	<string>f07c00</string>
	<string>f37500</string>
	<string>f56f00</string>
	<string>f76800</string>
	<string>f96100</string>
	<string>fa5a00</string>
	<string>fc5200</string>
	<string>fd4a00</string>
	<string>fe4100</string>
	<string>fe3700</string>
	<string>ff2b00</string>
	<string>ff1c00</string>
	<string>ff0000</string>
</array>
</plist>
